$url: '../assets/fonts/halvar-breitschrift/';

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('#{$url}Halvar-Breitschrift-Bold-Web.woff2') format('woff2'),
  url('#{$url}Halvar-Breitschrift-Bold-Web.woff') format('woff'),
  url('#{$url}Halvar-Breitschrift-Bold-Web.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breit Md';
  src: url('#{$url}HalvarBreit-Md.woff2') format('woff2'),
  url('#{$url}HalvarBreit-Md.woff') format('woff'),
  url('#{$url}HalvarBreit-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar Breit Md';
  src: url('#{$url}HalvarBreit-MdSlanted.woff2') format('woff2'),
  url('#{$url}HalvarBreit-MdSlanted.woff') format('woff'),
  url('#{$url}HalvarBreit-MdSlanted.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

