


.menububble {
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 20;
  margin-bottom: .5rem;
  padding: .3rem;
  transform: translateX(-50%);
  transition: opacity .2s, visibility .2s;
  border-radius: 5px;
  opacity: 0;
  background: #000;
}

.menububble.is-active {
  visibility: visible;
  opacity: 1;
}

.menububble__button {
  display: inline-flex;
  margin-right: .2rem;
  padding: .2rem .5rem;
  border: 0;
  border-radius: 3px;
  background: transparent;
  color: #fff;
  cursor: pointer
}

.menububble__button:last-child {
  margin-right: 0
}

.menububble__button:hover {
  background-color: hsla(0, 0%, 100%, .1)
}

.menububble__button.is-active {
  background-color: hsla(0, 0%, 100%, .2)
}
