@import 'cera-pro-font';
@import 'halvar-breitschrift-font';
//@import 'bootstrap';
//@import 'menububble';

//html {
//  min-width: 1500px;
//}
//:root {
//  //width: 1920px;
//  zoom: .9;
//}
//@viewport {
//  width: 1920px; /*Sets the width of the actual viewport to the device width*/
//  min-width: 1920px;
//}

.slide {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 1080px;
  min-width: 1500px;
  overflow: hidden;
  background: #f8f8f8;
  color: #171717;
  font-family: 'Cera Pro', sans-serif;

  h1 {
    font-family: 'Halvar Breit Md', sans-serif;
    font-size: 70px;
    //font-weight: bold;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1;
  }

  h2 {
    font-family: 'Halvar Breit Md', sans-serif;
    font-size: 50px;
    //font-weight: bold;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1.2;
  }

  h3 {
    color: #707070;
    font-family: 'Cera Pro', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
  }

  ul {
    padding-left: 0;
    list-style: none;

    font-size: 32px;
    line-height: 46px;
  }

  li {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: .5em;
      left: -40px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #ffc700;
    }
  }

  .selected {
    color: #1301f0;

    &::selection {
      background: #1301f0;
      color: #fff;
    }
  }

  .container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
  }

  .slide-header {
    p {
      opacity: 0.6;
      font-size: 30px;
      line-height: 50px;
    }
  }
}
